<header>
  <nav class="navbar">
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Tasks</a
    >
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/about"
      >About</a
    >
  </nav>
  <div class="header">
    <app-button
      *ngIf="hasRoute('/')"
      color="{{ showAddTask ? 'red' : 'green' }}"
      text="{{ showAddTask ? 'Close Menu' : 'Add Task' }}"
      (btnClick)="toggleAddTask()"
    ></app-button>
  </div>
</header>
