.navbar {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: palegoldenrod;
  padding: 30px;
}

.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.active {
  color: palevioletred !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
